@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.clientheading{
    position: absolute;
    top: 90vh;
    left: 11vh;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 5vh;
}

.about{
    position: absolute;
    top: 100vh;
    left: 11vh;
    font-family: 'Poppins', sans-serif;
    display: flex;
    width: 40vh;
}

.images{
    position: absolute;
    top: 98vh;
    left: 90vh;
    display: flex;
    gap: 8vh;
    align-content: center;
}

.images  img:nth-child(4){
    position: absolute;
    top: 2vh;
    left: 90vh;
}